.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: #6a6b6e;
  display: none;
}
.head-logo {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

small {
    font-family: "Raleway";
}

.mobile-bio-main {
  background: #f5f6fc;
  display: none;
}

.linkStyle {
    color: white;
    font-weight: bold;
    font-family: "Raleway";
    font-size: .95rem;
}


@media only screen and (max-width: 850px) {
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{display: block;}
  .mobile-bio-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
